.myNav {
  background-image: url("./image/mybuck2.jpg");
}

body {
  background-image: url("./image/go22.jpg");
}

.myButton {
  background-image: url("./image/mybuck2.jpg");
  border: 0.1em solid black;
  box-sizing: border-box;
  margin: 0.1em;
  margin-bottom: 0.3em;
  border-radius: 0.5em;
  text-align: center;
}

.myButton:hover {
  cursor: pointer;
  border: 0.3em;
}

.line {
  background-image: url("./image/mybuck2.jpg");
  border: 0.05em solid black;
  box-sizing: border-box;
  border-radius: 0.5em;
  height: 3em;
  cursor: pointer;
}

.line:hover {
  border: 0.1em solid black;
}

.line .myIcon {
  visibility: hidden;
}

.line:hover .myIcon {
  visibility: visible;
}
